.container
{
    background:linear-gradient(rgb(233, 119, 157),rgb(161, 199, 223));
    height: 625px;
    width: 100%;
    display:flex;
    border-radius:8px;
    flex-direction: column;
    align-items: center;
   

}
.box
{
    height: 65px;
    width: 98.5%;
    background-color:rgb(226, 24, 101);
    border-radius:12px;
    margin: 10px;
}
a
{
    text-decoration:none;
    float:right;
    margin: 25px;
    list-style-type: none;
    justify-content: center;
    color: white;
}
a:hover
{
    color:black;
    background-color: white;
}
.flexbox
{
   
    display: flex;
    gap:20px;
    margin-top:11%;
    align-items: center;
   
   
}
.box1
{
    border:2px solid rgb(5, 111, 143);
    width: 400px;
    height: 250px;
    border-radius:9px;
    text-align: center;


    
   
}
